<% if (!user) { %>
    <h2>Welcome! Please log in.</h2>
    <p><a href="auth/steam">Sign On with Steam</a></p>
<% } else { %>
    <h2>Hello, <%= user.displayName %></h2>
    <form action="logout" method="post">
        <button>Logout</button>
    </form>
<% } %>

<!-- Should redirect to homepage if you're not logged in -->
<p><a href="account">See Account Information</a></p>
